@import url('https://fonts.googleapis.com/css?family=Righteous:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Signika:100,200,300,400,500,600,700|Source+Sans+Pro&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Cambay:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700|Roboto+Slab&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap:100,200,300,400,500,600,700');

/*-----------------nav-------------------*/
.navbar {
    margin: 0px;
    padding: 1px;
}

.nav-design {
    background-color:  rgb(148, 96, 141);
}

.navbar-brand {
   font-family: 'Dancing Script', cursive;
   color:  rgb(0, 0, 0);
   background-color: rgb(148, 96, 141);
   padding: 3px;
   margin-right: 50px;
   margin-left: 20px;
   transition: all 0.3s ease-in-out;
   font-size: 40px;
   font-weight: 500;
   text-shadow:
		-1px -1px 0 ,
		1px -1px 0 rgb(109, 101, 101),
		-1px 1px 0 rgb(75, 73, 73),
		1px 1px 0 rgb(90, 81, 81);
    
}

.navbar-brand:hover {
       color: grey;
    text-shadow:
		-1px -1px 0 rgb(240, 166, 230),
		1px -1px 0 rgb(240, 166, 230),
		-1px 1px 0 rgb(240, 166, 230),
		1px 1px 0 rgb(240, 166, 230);
    border-color: rgb(97, 97, 97);
    border-radius: 15px;
}

.navbar-toggler {
    background-color: transparent;
    border: 1px solid rgb(240, 166, 230);
    margin-right: 20px;
}


.nav-link {
   background-color: rgba(78, 59, 90, 0.507);
    height: 42px; 
    line-height: 21px;
    width: 88px;
    margin-left: 20px;
    padding-bottom: 3px;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color: rgb(240, 166, 230);
    border: solid rgb(240, 166, 230) 2px;
    transition: all 0.28s ease-in-out;
}

.nav-link:hover {
   background-color: rgb(240, 166, 230);
    color: grey;
    border: solid grey 2px;
}

.fab {
font-size: 35px;
color: rgba(189, 33, 106, 0.808);
padding-bottom: 20px;
}

.fas {
    font-size: 20px;
    text-align: center;
    color: black;
}
/*-----------------nav-------------------*/

/*-----------------footer-------------------*/
.fab {
font-size: 50px;
color: rgb(240, 166, 230);
padding: 8px;
transition: 0.3s ease-in-out;
}

.fab:hover {
   color: rgb(114, 29, 76);
}

.static-bottom {
    background-color:  rgb(148, 96, 141);
}

.fixed-bottom {
    background-color:  rgb(148, 96, 141);
}
/*-----------------footer-------------------*/


/*-----------------body----------------------------*/
.callout-background {
   height: 100vh;
   background: url(../images/background.jpg) no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

}
/*-----------------body----------------------------*/

/*-----------------jumbotron----------------------------*/
.jumbotron {
    margin: auto;
    background-color: rgba(255, 192, 203, 0.233);
    margin-bottom: 40px;
}

.jumbo-head {
    color: rgb(37, 37, 37);   
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 58px;
      text-shadow:
		-1px -1px 0 rgb(255, 255, 255),
		1px -1px 0 rgb(255, 255, 255),
		-1px 1px 0 rgb(255, 255, 255),
		1px 1px 0 rgb(255, 255, 255);

}

.lead {
    font-weight: 500;
     color: rgb(37, 37, 37);   
    font-family: 'Permanent Marker', cursive;
      text-shadow:
		-1px -1px 0 rgb(255, 255, 255),
		1px -1px 0 rgb(255, 255, 255),
		-1px 1px 0 rgb(255, 255, 255),
		1px 1px 0 rgb(255, 255, 255);
}

.divider {
    background-color: pink;
    height: 1px;
    width: 600px;
}
/*-----------------jumbotron----------------------------*/


/*-----------------card----------------------------*/
.card-deck {
    margin-top: 80px;
}

.card {
    background-color: pink;
    margin-bottom: 10px;
}

.card-row {
    margin-bottom: 15px;
}

.grey-background {
    background-color:rgb(78, 59, 90);
}

.card-img-top {
    height: 350px;
}
/*-----------------card----------------------------*/

/*-----------------find us----------------------------*/
.map-container {
    margin-top: 90px;
    text-align: center;
}

.map-container h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: rgb(240, 166, 230);
    font-weight: 600;
}

.map-container p {
    color: rgb(240, 166, 230);
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.map-container iframe {
    border: 3px solid pink;
}
/*-----------------find us----------------------------*/

/*-----------------contact---------------------------*/
.contact-form-container {
    margin-top: 150px;
    margin-bottom: 80px;
    max-width: 875px
} 

.contact-form-container h1  {
     font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: rgb(240, 166, 230);
    font-weight: 600;
    margin-bottom: 40px;
}

.pink-font {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 300;
    color: rgb(240, 166, 230);
    }

.btn-pink {
    background-color: rgb(240, 166, 230);
    color: grey;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    }

    .final-statement {
    margin-top: 60px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(240, 166, 230);
    }
/*-----------------contact----------------------------*/


/*-----------------media queries----------------------------*/
@media (max-width: 992px) {

    .nav-link{
   padding: auto;
    margin: 4px 0px 4px 10px;
    }

.divider {
    height: 1px;
    width: 200px;
}

.contact-form-container {
    margin-top: 100px;
    margin-bottom: 80px
} 
/*-----------------media queries----------------------------*/
